aniso8601==7.0.0
autopep8
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet 
click==7.1.2
coverage==5.3.1
cryptography
decorator==4.4.2
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.7
flake8 
Flask==1.1.2
Flask-Cors==3.0.8
Flask-GraphQL 
future 
graphene==2.1.8
graphql-core==2.2
graphql-relay==2.0.1
graphql-server-core==1.1.3
idna 
imageio 
imageio-ffmpeg 
importlib-metadata 
itsdangerous==1.1.0
Jinja2==2.11.2
Js2Py==0.70
MarkupSafe
mccabe==0.6.1
moviepy==1.0.1
numpy
olefile 
packaging==20.8
Pillow
proglog==0.1.9
promise==2.2.1
pycodestyle
pycparser
pyflakes==2.2.0
pyjsparser==2.7.1
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil==2.8.1
pytube==10.4.1
pytz==2020.5
requests
Rx 
scipy
six 
toml
torch
tqdm==4.36.1
tube-dl==5.0.3
typing-extensions
tzlocal==2.1
urllib3
Werkzeug==1.0.1
zipp